<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <base href="/">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/dash.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <nav>
        <div class="nav-wrap">
        <a href="/frontman" class="nav active">Dashboard</a>
        <a href="/frontman/players" class="nav">Players</a>
        <a href="/frontman/workers" class="nav">Staff</a>
        <a href="/frontman/games" class="nav">Games</a>
        </div>
        <div class="user-log" onclick="logout()">
            <img src="./crown.png">
            &nbsp; Frontman
        </div>
    </nav>
    <div class="dash" style="margin-bottom: 30px;">
        <div class="charts">
            <div class="chart-wrap line">
                <div class="legend-wrap">
                    <h1>Total Players</h1>
                    <div class="legend">
                        <div class="circle" style="background-color: #B8FFB7; "></div>
                        <p>Active</p>
                    </div>
                    <div class="legend">
                        <div class="circle" style="background-color: #BE4D68; "></div>
                        <p>Eliminated</p>
                    </div>
                </div>
                <canvas id="pie" style="margin-left: 50px;">  
            </canvas>
            </div>
            <div class="chart-wrap">       
                <canvas id="line-chart">
                </canvas>
        </div>
        </div>
       
        <div class="dash-wrap">
            <div class="dash-box box-2"  id="players-click">
                <div class="box-wrap">
                    <div class="title"> <i class="far fa-user"></i>&nbsp; &nbsp; Players Remaining</div>
                    <p id="players">4,200,200,000</p>
                </div>
                <img src="./arrow.png" width="17">
            </div>
            <div class="dash-box box-2"  id="players-click1">
                <div class="box-wrap">
                    <div class="title"> <i class="far fa-user"></i>&nbsp; &nbsp; Players Eliminated</div>
                    <p id="players-dead">4,200,200,000</p>
                </div>
                <img src="./arrow.png" width="17">
            </div>
            <div class="dash-box">
                <div class="title"> <i class="fas fa-rupee-sign"></i>&nbsp; &nbsp; Current Prize Money</div>
                <p id="money"> 4,200,200,000</p>
            </div>
            <div class="dash-box">
                <div class="box-wrap">
                    <div class="title"> <i class="fas fa-rupee-sign"></i>&nbsp; &nbsp; Total Prize Money</div>
                    <p id="money-total"></p>
                </div>
            </div>
            <div class="dash-box box-2"  id="game-click" style="margin-bottom: 0;">
                <div class="box-wrap">
                <div class="title"> <i class="far fa-play-circle"></i>&nbsp; &nbsp; Current Game</div>
                <p id="current">4,200,200,000</p>
                </div>
                <img src="./arrow.png" width="17">
            </div>
            <div class="download">
                <i class="far fa-arrow-alt-circle-down"></i> Download CSV Report
            </div>
            <div class="dash-box" style="margin-top: 30px;">
                <div class="box-wrap">
                    <div class="title"> <i class="fas fa-rupee-sign"></i>&nbsp; &nbsp; Amount to be settled</div>
                    <p><%= payment.toLocaleString('en-IN') %></p>
                </div>
            </div>
            <a href="/frontman/settlepayments" style="text-decoration: none;">
            <div class="download" >
                <i class="fab fa-bitcoin"></i> Settle Payments
            </div>
            
        </a>
        </div>
    </div>
    
    <a href="/frontman/downloadInfo" target="_blank" id="download-csv" hidden> </a>


    <script type="text/javascript">
        var playersLeft =<%-JSON.stringify(playersLeft)%>;
        var playersDead =<%-JSON.stringify(playersDead)%>;
        var currentGame =<%-JSON.stringify(currentGame)%>;
        var mortalityRates =<%-JSON.stringify(mortalityRates)%>;

        $('#money').html((playersDead*10000000).toLocaleString('en-IN'));
        $('#money-total').html((100*10000000).toLocaleString('en-IN'));
        $('#players').html(playersLeft);
        $('#players-dead').html(playersDead);

        $('#current').html(currentGame.name);
        var ctx = document.getElementById('pie').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Active', 'Eliminated'],
                datasets: [{
                            label: 'My First Dataset',
                            data: [playersLeft, playersDead],
                            backgroundColor: [
                            'rgb(184, 255, 183)',
                            'rgb(190, 77, 104)'
                            ],
                            hoverOffset: 1,
                            borderWidth:0
                        }]
            },
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        display: false
                    }
                }
            }
        });
        var ctx2 = document.getElementById('line-chart').getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'line',
            data: {
            labels: [
      "Red light, green light",
      "Sugar Honeycombs",
      "Tug of War",
      "Marbles",
      "Hopscotch",
      "Squid Game"
    ],
            datasets: [{
                label: 'Mortality Rate',
                data: mortalityRates,
                fill: true,
                borderColor: 'rgb(255, 255, 255)',
                tension: 0.2
            }]
            },
            options:{
                responsive: true,

                plugins:{
                    title:{
                        display: true,
                        text: "Mortality Rates",
                        color: 'white'
                    },
                    legend:{
                        display: false,
                        labels:{
                            color: 'rgb(255, 255, 255)'
                        }
                    }
                },
                scales: {
                y:{
                    ticks:{
                        color:'white'
                    }
                },
                x: {
                    ticks: {
                        color: "white",
                        padding:10
                    }
                }
            }
            }
        });
        document.querySelector('.download').addEventListener('click',()=>{
            document.getElementById('download-csv').click();
        });
        document.querySelector('.download').addEventListener('click',()=>{
            document.getElementById('download-csv').click();
        });
        document.getElementById('game-click').addEventListener('click',()=>{
            window.location.href='/frontman/games'
        })
        document.getElementById('players-click').addEventListener('click',()=>{
            window.location.href='/frontman/players'
        })
        document.getElementById('players-click1').addEventListener('click',()=>{
            window.location.href='/frontman/players'
        })
        function logout(){
                window.location.href='/auth/logout';
            }
    </script>
</body>
</html>